

#wrap {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin-top: -4rem;
}

.pic {
    height: 300px;
    display: block;
    vertical-align: middle;
}

.h1 {
    line-height: 2.5rem;
}

.b1 {
    background-color:#32CD32;
    color: white;
    text-align: center;
    border: none;
    padding: 1rem 1rem;
    font-size: 20px;
    font-weight: 700;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.b1:hover {
    background-color: 	#008000;
    cursor: pointer;
}

.b2 {
    background-color: #FF0000;
    color: white;
    text-align: center;
    border: none;
    padding: 1rem 1rem;
    font-size: 20px;
    font-weight: 700;
    border-radius: 0.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.b2:hover {
    background-color: #DC143C;
    cursor: pointer;
}

.butt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
}
